#main {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.main-screen {
    background-color: whitesmoke;
}

html, body {
    background-color: whitesmoke;
    font-family: 'Roboto Flex', sans-serif;
}

img {
    width:100%
}

.home-title {
    position: fixed;
}
#wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    display:flex;
    justify-content: center;
    background-color: whitesmoke;
}
#container, #login-container {
    background-color: white;
    border-radius: 5px;
}
#container {
    border: .5px solid lightgrey;
}

#feed {
    display:flex;
    justify-content: center;
    align-items: center;
    
}


#feed-content {
    max-width: 625px;
}
.feed-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.feed-title> h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.drink-wrapper {
    background-color: whitesmoke;
    border-radius:5px;
    margin-bottom: 5%;
    margin-top: 10%;
    border: solid .5px lightgrey;
    max-width: 650px;



}
.drink-title > h3{
    font-weight: 400;
}

strong {
    font-weight: 600;
}
p {
    font-family: 'Roboto Slab', serif ;
    font-weight: 300;
}
.drink-image {
    text-align: center;
}
.drink-description {
    display: flex;
    justify-content: center;
}

.text-success {
    font-size: 1.5rem;
}
.created-by > *{
    font-family: 'roboto flex', sans-serif;
}

@media (max-width: 768px) {
    .home-title {
        position: static;
        width: 100vw;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        background-color: white;
        text-align: center;
    }
    .feed-title {
        margin-bottom: 0;
        margin-top: .7rem;
    }
    .drink-wrapper:first-child {
        margin-top: 0;
    }
}

