
.main-screen {
    font-family: 'Roboto';
    background-color: white;
    height: 100vh;
}
 

#wrapper {
    padding-top: 5%;
    padding-bottom: 5%;
    display:flex;
    justify-content: center;
    text-align: ;
}
#container {
    background-color: whitesmoke;
    border-radius: 5px;
}

#feed {
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.drink-wrapper {
    background-color: whitesmoke;
    border-radius:5px;
    margin-bottom: 5%;
    margin-top: 10%;
}

.drink-image {
    text-align: center;
}
.drink-description {
    display: flex;
    justify-content: center;
}

.text-success {
    font-size: 1.5rem;
}