<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap"
			rel="stylesheet"
		/>
    <link rel="stylesheet" href="../public/style.css" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav id="navbar" class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">BarBook</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Cocktails</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/new-cocktail">Cocktail</a>
                        <a class="dropdown-item" href="/new-ingredient">Ingredient</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row position-fixed">
            <div class="co m-4"><h1>Your feed</h1></div>
        </div>
        <div id="feed" class="row">
            <div id="feed-content" class="col-7">
                <div class="drink-wrapper col p-3">
                    <div class="drink-title">
                    <h3>Old Fashioned</h3>
                    </div>
                    <div class="drink-image">
                        <img width="50%" src="https://www.liquor.com/thmb/_0WLXSRV03SfpWgZ1hwiAkyIrzE=/720x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__liquor__2018__05__08113350__bourbon-old-fashioned-720x720-recipe-ade6f7780c304999be3577e565c9bcdd.jpg" alt="">
                    </div>
                    <div class="drink-specs">
                        <div class="spirit"><strong>Spirit: </strong><span>Bourbon</span></div>
                        <div class="citrus"><strong>Citrus: </strong><span>Orange Twist</span></div>
                        <div class="sweetener"><strong>Sweetener: </strong><span>Simple Syrup</span></div>
                        <div class="shake"><strong>Shake: </strong><span>Stirred</span></div>
                        <div class="drink-instructions">
                            <div><strong>Instructions:</strong></div>
                            <p class="">Add the sugar and bitters to a rocks glass, then add the water, and stir until the sugar is nearly dissolved.  Fill the glass with large ice cubes, add the bourbon, and gently stir to combine.  Express the oil of an orange peel over the glass, then drop in.</p>
                        </div>

                        
                    </div>
                </div>
                <div class="drink-wrapper col p-3">
                    <div class="drink-title">
                    <h3>Old Fashioned</h3>
                    </div>
                    <div class="drink-image">
                        <img width="50%" src="https://www.liquor.com/thmb/_0WLXSRV03SfpWgZ1hwiAkyIrzE=/720x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__liquor__2018__05__08113350__bourbon-old-fashioned-720x720-recipe-ade6f7780c304999be3577e565c9bcdd.jpg" alt="">
                    </div>
                    <div class="drink-specs">
                        <div class="spirit"><strong>Spirit: </strong><span>Bourbon</span></div>
                        <div class="citrus"><strong>Citrus: </strong><span>Orange Twist</span></div>
                        <div class="sweetener"><strong>Sweetener: </strong><span>Simple Syrup</span></div>
                        <div class="shake"><strong>Shake: </strong><span>Stirred</span></div>
                        <div class="drink-instructions">
                            <div><strong>Instructions:</strong></div>
                            <p class="">Add the sugar and bitters to a rocks glass, then add the water, and stir until the sugar is nearly dissolved.  Fill the glass with large ice cubes, add the bourbon, and gently stir to combine.  Express the oil of an orange peel over the glass, then drop in.</p>
                        </div>

                        
                    </div>
                </div>
                <div class="drink-wrapper col p-3">
                    <div class="drink-title">
                    <h3>Old Fashioned</h3>
                    </div>
                    <div class="drink-image">
                        <img width="50%" src="https://www.liquor.com/thmb/_0WLXSRV03SfpWgZ1hwiAkyIrzE=/720x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__liquor__2018__05__08113350__bourbon-old-fashioned-720x720-recipe-ade6f7780c304999be3577e565c9bcdd.jpg" alt="">
                    </div>
                    <div class="drink-specs">
                        <div class="spirit"><strong>Spirit: </strong><span>Bourbon</span></div>
                        <div class="citrus"><strong>Citrus: </strong><span>Orange Twist</span></div>
                        <div class="sweetener"><strong>Sweetener: </strong><span>Simple Syrup</span></div>
                        <div class="shake"><strong>Shake: </strong><span>Stirred</span></div>
                        <div class="drink-instructions">
                            <div><strong>Instructions:</strong></div>
                            <p class="">Add the sugar and bitters to a rocks glass, then add the water, and stir until the sugar is nearly dissolved.  Fill the glass with large ice cubes, add the bourbon, and gently stir to combine.  Express the oil of an orange peel over the glass, then drop in.</p>
                        </div>

                        
                    </div>
                </div>
                <div class="drink-wrapper col p-3">
                    <div class="drink-title">
                    <h3>Old Fashioned</h3>
                    </div>
                    <div class="drink-image">
                        <img width="50%" src="https://www.liquor.com/thmb/_0WLXSRV03SfpWgZ1hwiAkyIrzE=/720x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__liquor__2018__05__08113350__bourbon-old-fashioned-720x720-recipe-ade6f7780c304999be3577e565c9bcdd.jpg" alt="">
                    </div>
                    <div class="drink-specs">
                        <div class="spirit"><strong>Spirit: </strong><span>Bourbon</span></div>
                        <div class="citrus"><strong>Citrus: </strong><span>Orange Twist</span></div>
                        <div class="sweetener"><strong>Sweetener: </strong><span>Simple Syrup</span></div>
                        <div class="shake"><strong>Shake: </strong><span>Stirred</span></div>
                        <div class="drink-instructions">
                            <div><strong>Instructions:</strong></div>
                            <p class="">Add the sugar and bitters to a rocks glass, then add the water, and stir until the sugar is nearly dissolved.  Fill the glass with large ice cubes, add the bourbon, and gently stir to combine.  Express the oil of an orange peel over the glass, then drop in.</p>
                        </div>

                        
                    </div>
                </div>
                <div class="drink-wrapper col p-3">
                    <div class="drink-title">
                    <h3>Old Fashioned</h3>
                    </div>
                    <div class="drink-image">
                        <img width="50%" src="https://www.liquor.com/thmb/_0WLXSRV03SfpWgZ1hwiAkyIrzE=/720x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__liquor__2018__05__08113350__bourbon-old-fashioned-720x720-recipe-ade6f7780c304999be3577e565c9bcdd.jpg" alt="">
                    </div>
                    <div class="drink-specs">
                        <div class="spirit"><strong>Spirit: </strong><span>Bourbon</span></div>
                        <div class="citrus"><strong>Citrus: </strong><span>Orange Twist</span></div>
                        <div class="sweetener"><strong>Sweetener: </strong><span>Simple Syrup</span></div>
                        <div class="shake"><strong>Shake: </strong><span>Stirred</span></div>
                        <div class="drink-instructions">
                            <div><strong>Instructions:</strong></div>
                            <p class="">Add the sugar and bitters to a rocks glass, then add the water, and stir until the sugar is nearly dissolved.  Fill the glass with large ice cubes, add the bourbon, and gently stir to combine.  Express the oil of an orange peel over the glass, then drop in.</p>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>