<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cocktail Share</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="stylesheet" href="style.css" />
		<!-- Bootstrap CSS -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300;400;700;900&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600&family=Roboto+Slab:wght@200;300;400;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<nav id="navbar" class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/dashboard">BarJournal</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/${userInfo.id}">My Cocktails</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add New</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/new-cocktail">Cocktail</a>
                        <a class="dropdown-item active" href="/new-ingredient">Ingredient</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GET Requests</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/cocktails">Cocktails</a>
                        <a class="dropdown-item" href="/ingredients">Ingredients</a>
                    </div>
                </li>
				
            </ul>
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				<li class="nav-item ml-auto">
                    <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
			</ul>
        </div>
    </nav>
		<div class="main container-fluid">
			<div id="wrapper" class="row">
        <div id="container" class="col-11 col-lg-6  p-3">
          <h1>Add New Ingredient</h1>
			<form>
				<div class="input-group">
					<div class="input-group-prepend">
						<span
							class="input-group-text"
							id="inputGroup-sizing-default"
							>New Ingredient</span
						>
					</div>
					<input
						type="text"
						id="ingredient-name"
						class="form-control"
						aria-label="Default"
						aria-describedby="inputGroup-sizing-default"
					/>
				</div>
				<div id="error-message" class="ml-1 m-3 text-danger"></div>
				<div id="success-message" class="ml-1 m-3 text-success"></div>
				<div id="enter-button" class="btn-success btn btn-block">Add</div>
			</form>
        </div>
      </div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script>
			// Set html variables
			const enterButton = document.getElementById("enter-button");
			const ingredient = document.getElementById("ingredient-name").value;

			
			// Enter button functionality
			enterButton.addEventListener("click", async () => {
				// Clear message fields
				document.getElementById('error-message').innerText = '';
				document.getElementById('success-message').innerText = '';

				// Get name
				const name = document.getElementById("ingredient-name").value;
				let alreadyExists = false;

				if (name == '') {
					return
				}

				// Check if ingredient already exists
				await axios.get('/ingredients').then((res)=> {
					ingredients = res.data;
					ingredients.find((ingredient) => {
						if (ingredient.name.toLowerCase() == name.toLowerCase()){
							alreadyExists = true;
						}
					})
				})
				if (alreadyExists) {
					document.getElementById('error-message').innerText = "An ingredient already exists with that name!"
				} else {
					axios.post("/ingredients", {
						name: name,
					});
					document.getElementById('success-message').innerText = "Ingredient added successfully!"
				}
			});
		</script>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->

		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
