<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap"
			rel="stylesheet"
		/>
    <link rel="stylesheet" href="/style.css" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav id="navbar" class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">BarJournal</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ${activeFlag}">
                    <a class="nav-link" 
                        href="/users/${userInfo.id}">My Cocktails</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add New</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/new-cocktail">Cocktail</a>
                        <a class="dropdown-item" href="/new-ingredient">Ingredient</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GET Requests</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/cocktails">Cocktails</a>
                        <a class="dropdown-item" href="/ingredients">Ingredients</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto ">
				<li class="nav-item ml-auto">
                    <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>
			</ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row position-fixed">
            <div class="feed-title my-3 mx-4 "><h2>${creatorInfo.name}'s <br>Cocktails</h2></div>
        </div>
        <div id="feed" class="row">
            <div id="feed-content" class="col-7">
                ${
                    userCocktails.reverse().map((userCocktail)=>{
                        return `<div class="drink-wrapper col p-3">
                    <div class="drink-title mb-3">
                    <h3>${userCocktail.name}</h3>
                    </div>
                    <div class="drink-image mt-1 mb-3">
                        <img width="70%" src="${userCocktail.url}" alt="">
                    </div>
                    <div class="drink-specs">
                        <div class="spirit my-2"><strong>Spirit: </strong><span>${userCocktail.spiritAmount}oz ${ingredients.find(ingredient => userCocktail.spirit === ingredient.id).name}</span></div>
                        <div class="citrus mb-2"><strong>Citrus: </strong><span>${userCocktail.citrusAmount}oz ${ingredients.find(ingredient => userCocktail.citrus === ingredient.id).name}</span></div>
                        <div class="sweetener mb-2"><strong>Sweetener: </strong><span>${userCocktail.sweetenerAmount}oz ${ingredients.find(ingredient => userCocktail.sweetener === ingredient.id).name}</span></div>
                        <div class="shake mb-2"><strong>Shake: </strong><span>${userCocktail.shake}</span></div>
                        <div class="drink-instructions mb-3">
                            <div><strong>Instructions:</strong></div>
                            <p class="mt-1">${userCocktail.description}</p>
                        </div>
                    </div>
                    <div class="created-by d-flex justify-content-end mx-1">
                        <p>Created by <a href="#">${users.find(user => userCocktail.creatorId === user.id).name}</a></p>
                    </div>
                </div>
                        `}).join('')}
                
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>